
@{
    ViewData["Title"] = "MVP";
}

<h1>Minimum Viable Products</h1>

<p>One of the keys to rapid development is integrating with other tools and applications. With cloud computing and applications with APIs, it's easier (and cheaper) than ever to bring your idea to life. The key is understanding how everything works together. Here's a partial list of features I've used to build applications:</p>
<ul>
    <li>@Html.ActionLink("ASP.Net and ASP.Net Core", "AspNet")</li>
    <li>@Html.ActionLink("AWS and Azure cloud hosting", "AwsAzureCloud")</li>
    <li>@Html.ActionLink("Credit Card Processing", "CreditCardProcessing")</li>
    <li>@Html.ActionLink("DevOps", "DevOps")  - Continuous Integration/Continuous Deployment (CI/CD)</li>
    <li>@Html.ActionLink("Google Analytics", "GoogleAnalytics")</li>
    <li>@Html.ActionLink("HTTPS (SSL)", "HTTPS") - to secure websites</li>
    <li>@Html.ActionLink("Integrated Logins/SSO (Single Sign-On)", "IntegratedLogins") with Facebook, Google, and Microsoft accounts</li>
    <li>@Html.ActionLink("Integrating applications", "IntegratingApplications") via APIs</li>
    <li>@Html.ActionLink("Mobile App Development", "Mobile") (including publishing to App/Play stores)</li>
    <li>@Html.ActionLink("Notifications", "Notifications") (email and text)</li>
    <li>@Html.ActionLink("Recaptcha", "Recaptcha")</li>
    <li>@Html.ActionLink("SQL Server", "SqlServer")</li>
</ul>