
@{
    ViewData["Title"] = "Index";
}



<h1 class="display-4">Building Blocks</h1>

<div class="row">
    <div class="col">
        One of the keys to rapid application development is being able to leverage existing components, services and technologies
        <ul>
            <li>@Html.ActionLink("ASP.Net and ASP.Net Core", "AspNet")</li>
            <li>@Html.ActionLink("AWS and Azure cloud hosting", "AwsAzureCloud")</li>
            <li>@Html.ActionLink("Credit Card Processing", "CreditCardProcessing")</li>
            <li>@Html.ActionLink("DevOps", "DevOps")  - Continuous Integration/Continuous Deployment (CI/CD)</li>
            <li>@Html.ActionLink("Google Analytics", "GoogleAnalytics")</li>
            <li>@Html.ActionLink("HTTPS (SSL)", "HTTPS") - to secure websites</li>
            <li>@Html.ActionLink("Integrated Logins/SSO (Single Sign-On)", "IntegratedLogins") with Facebook, Google, and Microsoft accounts</li>
            <li>@Html.ActionLink("Integrating applications", "IntegratingApplications") via APIs</li>
            <li>@Html.ActionLink("Mobile App Development", "Mobile") (including publishing to App/Play stores)</li>
            <li>@Html.ActionLink("Notifications", "Notifications") (email and text)</li>
            <li>@Html.ActionLink("Recaptcha", "Recaptcha")</li>
            <li>@Html.ActionLink("SQL Server", "SqlServer")</li>
        </ul>
    </div>
    <div class="col">
        <img class="img-fluid" src="~/images/shutterstock_432008923.jpg" />
    </div>
</div>
